body{
    margin: 0;
    padding: 20%;
}

ul {
  list-style-type: none;
}

.wrapper{
    justify-content: center;
}

.container{
    border: 5px solid ;
    border-radius: 50px;
    text-align: center;
    background-color: #9b7ccc;
    color: white;
}